@model UcdArchTemplates.Web.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


@section SubNav
{
	<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
	<li>@Html.ActionLink("Back to List", "Index")</li>
}

<div class="form-horizontal well-small">
    <fieldset>
        <legend>Customer</legend>
		<div class="control-group">
			<label class="control-label">CompanyName</label>
			<div class="controls form-text">@Model.CompanyName</div>
		</div>
		<div class="control-group">
			<label class="control-label">ContactName</label>
			<div class="controls form-text">@Model.ContactName</div>
		</div>
		<div class="control-group">
			<label class="control-label">Country</label>
			<div class="controls form-text">@Model.Country</div>
		</div>
		<div class="control-group">
			<label class="control-label">Fax</label>
			<div class="controls form-text">@Model.Fax</div>
		</div>
    </fieldset>
</div>

